<th:block th:fragment="modal(diff, form)" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Showing Diff</h5>
            </div>
            <div class="modal-body">
                <pre class="diff">
                    <code th:text="${diff}"></code>
                </pre>
            </div>
            <div class="modal-footer">
                <form action="/download/diff" method="post">
                    <input type="hidden" name="action" th:value="diff">
                    <input type="hidden" name="features" th:value="${#strings.listJoin(form.get('features'), ',')}">
                    <input type="hidden" name="name" th:value="${form.get('name')}">
                    <input type="submit" class="btn btn-secondary" value="Download a .patch file"/>
                </form>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</th:block>
